body{
    margin: 0;
    padding: 0;
}
/* header section  */

header{
    margin: 20px 80px;
    margin-bottom: 40px;

}
.hl-color{
    color: #554ce8;
    font-weight: bold;
}
.btn-regular{
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(#554ce8, #8c43e0);
    color: #ffff;
    font-size: 18px;
}
#header-section{
    background: url(images/Frame\ 56.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.half-width{
    width: 50%;
}
.right-header img{
    width: 90%;
}
.title-text{
    padding: 0px 50px;
}
.title-text h1{
    font-size: 60px;
    color: #4b4a4a;
}
.title-text p{
    color: #707070;
    font-size: 20px;
}
/* about section  */
#about{
    padding: 0px 40px;
    background: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-section{
    margin: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text{
    padding: 0px 50px;
}
.about-text h1{
    font-size: 40px;
    font-weight: bold;
    color: #707070
}
.about-text p{
    font-size: 18px;
}
/* recepi section  */
#recipi{
    margin: 30px 90px;
}
.recipi-title{
    text-align: center;
    width: 50%;
    margin: auto;
}
.recipi-title h1{
    font-size: 38px;
    color: #676767;
    font-weight: bold;
}
.recipi-title p{
    font-size: 18px;
    color: #252525;
}
.cards{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    padding: 20px;
    box-shadow: 2px 1px 5px #8b8b8b;
    margin: 0 30px;
    border-radius: 8px;
}
.card img{
    width: 100%;
}
/* number section  */
#number{
    margin: 100px 120px;
}
.claculate-section{
    display: flex;
    justify-content: space-around;
}
.part h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0;
}
.part p{
    font-size: 16px;
    color: gray;
    font-weight: normal;
    margin: 0;

}
/* footer section' */
#footer{
    padding: 40px;
    background: #000;
}
.footer-section{
    text-align: center;
}
#footer h1{
    color: #ccc;
}
#footer p{
    color: #8b8b8b;
}
